@charset "UTF-8";

body {
    background-image: url(img/gray-gradient-pattern-4k.jpg);
}

main {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #425770;
    width: 700px;
    margin: auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.35);
}

.lista {
    background-color: #1B1E1B;
    width: fit-content;
    height: fit-content;
    padding-left: 0px;
    padding-right: 22px;
    padding-top: 3px;
    padding-bottom: 3px;
    border-radius: 5px;
    box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.5);
}

ul, h2 {color: yellow}

h1 {
    text-align: center;
}

h1, p {
    color: white;
}

.texto-com-fundo {
    background-color: #1B1E1B;
    color: rgb(255, 255, 0); width: fit-content;
}

.paragrafo {
    text-align: justify;
    width: 600px;
}

mark {
    background-color: white;
}

.italic {font-style: italic;}

.oblique {font-style: oblique;}

.amostra-codigo {
    border-radius: 5px;
    box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.5);
}
